body{
  background-color: black;
}

.App{
  width: 100vw;
}

.aboutContainer{
  color: white;
  box-shadow: 3px 3px 7px;
  width: 90%;
  margin: 100px  auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutContainer p {
  width: 80%;
  height: 80vh;
}